$text-color: #758090;
$headers-color: #000;
$link-color: #34a8de;
$shadow-color: rgba(194, 206, 220, .75);
$border-color: #b8bec6;
$error-color: #d63408;
$success-color: #6ac31d;

$bg-aside: #2d3643;
$bg-main: #fff;
$bg-footer: #edeff2;

$bg-table-header: #dbdfe6;
$table-header-color: #4d5969;
$table-border-color: #eff1f4;
$table-border-color-top: #b8bec6;

$bg-button-default: #0768a4;
$bg-button-secondary: #f5f6f8;
$button-loader-color: #8c024c;

$shadow: 0 0 3px 1px $shadow-color;

$main-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$main-font-size: 14px;

$spinkit-spinner-margin: 80px auto;
$spinkit-size: 80px;
$spinkit-spinner-color: $bg-button-default;

$assets-path: "/assets/images/"